@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Poppins", "Sans-serif";
}

:root {
  --primary: #43b6aa;
  --accent: #2f6b7c;
  --secondary: #2f9098;
  --background-color: #cfffd0;
  --text-color: #21323c;
  --heading-size-1: 4.8rem;
  --heading-size-2: 3.2rem;
  --heading-size-3: 2.4rem;
}

*::selection {
  background: var(--accent);
  color: white;
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #2f6b7c 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #2f6b7c);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

.loader-container {
  width: 100svw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
