.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10rem 20rem;
}

input {
  padding: 2rem;
  font-size: 1.8rem;
  border-radius: 1.2rem;
  outline: none;
  border: 1px solid black;
}

.login-form {
  padding: 10rem 50rem;
}

button {
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1.2rem;
  cursor: pointer;
  background: white;
  font-size: 1.8rem;
}

.loginBtn {
  width: 18rem;
}

textarea {
  font-size: 1.8rem;
}
